hr{
    margin: 30px
  }
h1{
  text-align: center;
}

h2.number{
  text-align: center;
  font-size: 2rem;
}

.full-container{
  width: 75%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* card 1 */

.card1-container{
  text-align: center;
}
  
.card1 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 20%;
  margin: 20px;
}

.card1-title{
  font-size: 1.2rem;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

.card1:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  cursor: pointer;
}
  
/* card 2 */
.card2-container{
  text-align: center;
}
  
.card2 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 25%;
  padding: 5px;
  margin: 20px; 
}

.card2:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  cursor: pointer;
}
  
/* card 3 */
.card3 img{
  height: 100%;
}
.card3-container{
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8); 
}
  
.card3 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 28%;
  margin: 20px;
  position: relative;
}
  
.card3:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  cursor: pointer;
}
  
.card3-container {
  padding: 8px 16px;
}

/* card 4 */
.card4-container{
  position: relative;
  min-height: 500px;
  width: 30%;
  border: grey solid .5px;
  border-radius: 0px 0px 15px 15px;
  transition: none;
  margin: 6px;
  background-color: rgb(242 241 241 / 80%);
}
  
.card4-image{
  position: relative;
}
  
.card4-text{
  padding: 15px;
}
  
.card4-title{
  font-size: 1.2rem;
  text-align: center;
  color: #000;
  padding-bottom: 15px;
}
.card4-body{
  padding: 10px;
}

/* Card 5 */
.card5 {
  background-color: transparent;
  width: 300px;
  height: 300px;
  margin:20px;
  perspective: 1000px;
}

.card5 h2{
  font-size: 1.2rem;
  line-height: 1.3;
  padding: 5px;
  text-align: center;
  text-transform: capitalize;
  position: absolute;
  top: 45%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.card5-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card5-front img {
  width: fit-content;
}
.card5:hover .card5-inner {
  transform: rotateY(180deg);
}

.card5-front, .card5-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card5-front {
  background-color: rgb(48, 64, 211);
  color: black;
}

.card5-back {
  background-color: rgb(0, 185, 46);
  color: #fff;
  transform: rotateY(180deg);
}

/* Card 6 */
.card6{
  position: relative;
  float: left;
  margin: 12px;
  min-height: 260px;
  min-width: 210px;
  padding: 19px;
  background-color: #f1f4f4;
  transition: all 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card6-title{
  font-size: 1.2em;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 3px;
  padding: 5px;
  color: #ac1e2c;
  text-decoration: none;
}
.card6:hover {
  background-color: #f1f4f4;
  box-shadow: 6px 6px 3px #d1d1d1;
  transform: scale(1.1, 1.1);
  cursor: pointer;
}

/* Card 7 */

.card7{
  text-decoration: none;
  font-style: italic;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #173766;
  font-size: 1.4rem;
  line-height: 1.2;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  width: 25%;
  margin: 2.5%;
  float: left;
  height: 200px;
  padding: 15px;
  background: #c8d0d8;
  transition: background .6s;
}

.card7:hover{
background: #173766;
color: #c8d0d8;
text-decoration: underline;
cursor: pointer;
box-shadow: 0 6px 10px 0 rgba(0,0,0,0.2);
}

/* Card 8 */

.card8-title {
  font-weight: bold;
  color: #000000;
  line-height: 1.2;
  font-size: 30px;
  letter-spacing: 0.25px;
  word-wrap: break-word;
  margin-bottom: 0.5rem
}

.card8-subtitle {
  color: #6c757d;
  line-height: 1.2;
  font-size: 15px;
  letter-spacing: 0.25px;
  word-wrap: break-word;
}

.card8 {
  background-color: #ffffff;
  width: 25%;
  height: 25%;
  padding: 1rem 1rem;
  margin: 10px;
  border-radius: 12px;
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1);
}

.card8-img {
  width: 100%;
  border-radius: 25px;
  max-height: 15.625rem;
  object-fit: cover;
}

.card8-header {
  padding: 0.5rem 1rem;
}

.card8-body {
  padding: 1rem 1rem;
  margin-bottom: 1rem;
}

.card8-footer {
  padding: 0.5rem 1rem;
}

.card8-footer .card8-btn {
  width: 100%;
  height: 2.5rem;
  padding: 8px;
  font-weight: 700;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1.25px;
  background-color: #1f2aff;
  color: #ffffff;
  border-radius: 25px;
  border-style: none;
}

.card8-btn:hover{
  cursor: pointer;
  background-color: #000acf;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}


/* Card 9 */

.card9 {
  display: grid;
  grid-template-columns: 3fr 5fr;
  grid-template-rows: repeat(2, auto);
  grid-gap: 1em;
  
    padding: 1em;
    cursor: pointer;
    min-height: 250px;
    height: 100%;
    width: 100%;
    margin: 0 0 2em 0;
    background: #ffffff;
    border-radius: 2px;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.1);
    border: 1px solid #dadada;
/*     overflow: hidden; */
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
/*     position: relative; */
}
.card9-img-mask{
    height: 270px;
    display: block;
    position: relative;
    overflow: hidden;
}
 .card9-img-mask > img{
   position: absolute;
   top: 0;
   left: 0;
   width: auto;
   height: 100%;
   max-width: none;
}